<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Advanced Reservation"> <ion-content
	has-header="true" padding="true">
	
<div class="list">
		
	<div class="item item-divider">
	    Search Criteria
	 </div>
  
	  <label class="item item-input">
	    <span class="input-label">Site</span>
	    <span class="item-note">
      		Grammy
    	</span>
	  </label>
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Capacity
	    </div>
	    <select>
	      <option>2-5</option>
	      <option selected>6-12</option>
	      <option>12+</option>
	    </select>
	   </label>
	  <label class="item item-input">
	    <span class="input-label">Start Time</span>
	    <input type="date">
	  </label>
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Duration
	    </div>
	    <select>
	      <option>0.5 hour</option>
	      <option selected>1 hour</option>
	      <option>2 hours</option>
	      <option>3 hours</option>
	      <option>4 hours</option>
	      <option>5+ hours</option>
	    </select>
	   </label>
		<button class="button button-full button-small button-positive">
		  Search Meeting Rooms
		</button>
		
		<a ng-repeat="room in rooms" href="#/tab/book-meeting/{{room.id}}" class="item item-icon-left"> <i class="icon ion-person-stalker"></i> 
			<h2>{{room.name}}</h2>
	      	<p><span>Capacity: {{room.capacity}}</span>&nbsp;&nbsp;<span>Time: Now-{{room.time}}</span></p>
		</a>
</div>
</ion-content> </ion-view>
