<ion-view title="Quick Reservation"> <ion-content
	has-header="true" padding="true">
	<div class="grayblock">
		<a class="button button-icon icon ion-person-stalker"></a>
	</div>
	
	<div class="range timePick">
	  <i class="icon ion-ios7-time-outline"></i>now
	  <input type="range" name="volume">
	  <i class="icon ion-clock"></i>
	</div>


	<div>
		
		Send to Participants:
		<label class="toggle">
		   <input type="checkbox">
		   <div class="track">
		     <div class="handle"></div>
		   </div>
		</label>
		
	</div>

	<div>
		<label class="item item-input">
		    <input type="text" placeholder="subject">
		</label>

		<label class="item item-input">
            <input type="text" placeholder="Participants">
            <button class="button icon ion-plus-circled"></button>
        </label>
	</div>


	<div class="mylist">

		fu.chen@hp.com

		<button class="button button-small icon ion-minus-circled"></button>
	</div>


	<button class="button button-block button-positive">
     Submit
    </button>

</ion-content> </ion-view>