<ion-view title="My Profile">
  <ion-content class="has-header padding">
  	 	<a class="item  grayblock" href="#">
  	 	<div class="row">
		  <div class="col col-15 "><i class="icon icon-left ion-person-stalker"></i></div>
		  <div class="col col-35 "><span>Patric Anderson</span></div>
		  <div class="col col-10"><i class="icon icon-right ion-chevron-right"></i></div>
		</div>
    	</a>
    	<br/>
    	<br/>
    	<br/>
    	 <label class="item item-input margin-top">
	    <span class="input-label">Site</span>
	    <span class="item-note">
      		Shanghai VIA A2
    	</span>
	  </label>
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Favorite Meetingrooms
	    </div>
	    <select>
	      <option>CONF-D304</option>
	      <option selected>CONF-A201 <button class="button icon ion-plus-circled button-right"></button></option>
	      <option>CONF-A101</option>
	    </select>

	   </label>
	   <br/>
	   <label class="grayblock">CONF-A203 <i class="icon icon-right ion-ios7-close"></i></label> 
	   <label class="grayblock">CONF-A203 <i class="icon icon-right ion-ios7-close"></i></label> 
	   <label class="grayblock">CONF-A203 <i class="icon icon-right ion-ios7-close"></i></label><br/>
	   <label class="grayblock">CONF-A203 <i class="icon icon-right ion-ios7-close"></i></label> 

	   <br/>
	   <br/>
	   <br/>
	   <p>Turn on Vibration Mode during the meeting</p>
	   <div class="row">
		  <div class="col col-88 "></div>
		  <div class="col col-12 ">
		  	 <label class="toggle toggle-right">
			   <input type="checkbox">
			   <div class="track">
			     <div class="handle"></div>
			   </div>
			</label>
		  </div>
	   </div>
	   
	   <button class="button button-full button-assertive">
		  Logout
		</button>

	</div>
  </ion-content>
</ion-view>
