<ion-view title="Meeting Reservation"> <ion-content
	class="has-header padding">

	<div class="list list-inset">
	  <label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" placeholder="Search Meeting Room">
	  </label>
	</div>

	<div class="list item-icon-left">

	<a class="item item-icon-left" href="#/tab/quick-reservation">
    <i class="icon ion-calendar"></i>
    Quick Reservation
	</a>
	<a class="item item-icon-left" href="#/tab/advance-reservation">
    <i class="icon ion-calendar"></i>
    Advanced Reservation
	</a>
	<a class="item item-icon-left" href="#">
    <i class="icon ion-calendar"></i>
    My Reservations
	</a>
     
	</div>
	
</ion-content> </ion-view>
